#navbar-menu {
    margin-top: 3px;
    border: groove;
    border-right:#ededed;
    border-radius: 15px;
}
.navbar-brand > img {
    width: 100px;
    height:60px;
    margin: -25px;
    padding-top: 15%;

}
.nav-link {
    margin: 10px;
    padding: 20px;
}
.nav-item {
    margin: 1px;
    padding: 10px;
    border-top: 1px dotted #d7dae3;
}

.product__characteristics__table {
    margin-top: 3px;
    border-top: 1px dotted #d7dae3;
    width: 100%;
    display: table
}

.product__characteristics__tr {
    display: table-row
}

.product__characteristics__td {
    display: table-cell;
    border-bottom: 1px dotted #d7dae3;
    padding: 11px 0 10px;
    font-size: 14px;
    line-height: 140%
}

.product__characteristics__td:first-child {
    width: 260px;
    padding-right: 15px
}

.product__characteristics__also {
    display: none;
    margin-top: -1px;
    border-top: none
}

.product__characteristics__also.product__characteristics__tr {
    width: 100%
}